.panel-default > .panel-heading {
  background-color: #1C86EE;
}

.panel-default > .panel-body {
  background-color: #CAE1FF;
}

.signup-form {
	width: 70%;
	margin-left: auto;
    margin-right: auto;
}