.panel-default > .panel-heading {
  background-color: #000000;
}

.panel-default > .panel-body {
  background-color: #CAE1FF;
}

.signup-form {
	width: 70%;
	margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 20px;
    background: url('white-bg.jpg');
}

.signup-form{
	background-color: rgba(255, 255, 255, 0.74);
}

.form-group label {
	color: black;
	font-weight: 900;
}


.img-circle {

    width: 45px; 
    height: 45px;
    border-color: transparent;
    border-radius: 50%;
    overflow: hidden;

}

.text-vertical-center{

    width:100%;
}

