.panel-default > .panel-heading {
  background-color: #1C86EE;
}

.panel-default > .panel-body {
  background-color: #CAE1FF;
}

.form-group label {
	color: black;
	font-weight: 900;
}

.smallImg img{
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    padding: 0px;
}

/* GENERAL STYLES */
body {
    font-family: Verdana;
    background-color: #EAEAEA;
}

.row{
	margin: 80px;	
}

.well{
	width: 80px;
}
/* USER PROFILE STYLES */

    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }
    .user-wrapper img {
        width:100%;
    }

/* ACADEMIC INFO */
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}


